@charset "utf-8";

* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}

*,
body {
	font-family: "微软雅黑";
}


body {
	background: url(map_bg.png);
}

.head {
	position: absolute;
	width: 600px;
	height: 20px;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.head h1 {
	color: #fff;
	text-align: center;
	font-size: .42rem;
	line-height: 120px;
}
